*.suo
bin
obj
/source/packages/*
/nunit-result.xml
/source/*.user
*.ncrunchproject
ignore
~$*.docx
~*.tmp
*.user
/source/PackagedKatas/*.zip
/source/Katarai.Wpf/PackagedKata/Packages/*.zip
/buildreports
Thumbs.db
documents/~$MessagesToUser.xlsx
installer/*.exe
_ReSharper.Caches
source/Katarai.MSI/Debug/Katarai.MSI.msi
source/TestResults/Katarai.TE.Tests_log.ldf
source/TestResults/
node_modules
.vs
