<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="SettingsProvider" value="FileSystem" />
  </appSettings>

  <log4net>
    <!-- LOG FILE OUTPUT WITH ROLLING LOG FILES -->
    <appender name="file-verbose" type="log4net.Appender.RollingFileAppender">
      <file value="tobereplaced.log" />
      <!-- You need to set a name for your log here (probably <your appname>.log) -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
      </filter>
      <appendToFile value="true" />
      <!-- set to false to start with a new file every run -->
      <rollingStyle value="Composite" />
      <!-- what kind of rule to use for rollover; size means we don't take over the drive; date uses a date threshold; composite uses both -->
      <datePattern value="yyyy-MM-dd" />
      <maximumFileSize value="512KB" />
      <!-- roll over when the log file reaches this size -->
      <maxSizeRollBackups value="15" />
      <!-- keep a max of this many log files -->
      <staticLogFileName value="true" />
      <!-- use the original file name for the primary log; alternatively, set to false to date-stamp files (for time/date rolling only) -->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level %date{yyyy-MM-dd HH:mm:ss} [%thread] %-5logger &gt; UserName:%username AttempName:%property{attemptname} %message%newline" />
      </layout>
    </appender>
    <appender name="splunk-appender" type="Katarai.Wpf.SplunkAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{kataevent}" />
      </layout>
    </appender>
    <!-- root configuration: this is the base config from which all other config inherits -->
    <root>
      <level value="INFO" />
      <appender-ref ref="file-verbose" />
      <!--<appender-ref ref="splunk-appender" />-->
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>